<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lab11sc?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">CricRec</property>
    <property name="hibernate.connection.password">cricrec</property>
    <mapping class="com.labppl.entities.Car"/>
    <mapping class="com.labppl.entities.Record"/>
    <mapping class="com.labppl.entities.User"/>
  </session-factory>
</hibernate-configuration>
